.loginFormWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.formContainer {
  width: 350px;
  height: 250px;
  max-height: calc(100vh - 40px);
  box-sizing: border-box;
  box-shadow: 5px 8px 5px 5px grey;
  overflow: auto;
}

.formContents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  margin: auto;
}

.inputWrapper {
  margin: auto;
  margin-bottom: 15px;
}

.title {
  margin-left: 15px;
}
